@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}


html, 
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}


section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height:627px;
    width: 311px;
    background: url('../pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 81px;
    left: 22px;
    width: 267px;
    height: 469px;
    background-attachment: fixed;
}


section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 56px;
    margin: 6px;
    border-radius: 50%;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.39);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 1px solid rgba(255, 255, 255, 0.233);
    transition-duration: 0.25s;
    transform: translate(-2px, -2px);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.289);
    transition: transform 0.3s;
}